*{
    margin: auto;
}

body{
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: 
    height: 1024px;
    width: 100vw;
    
}header{
    text-align: center;
    background-color:
    height: 118px;
    width: 1024px;
}
main{
    text-align: center;
    width: 1024px;
}
footer{
    background-color:grey;
    height: 100px;
    width: 1024px;
}
nav{
    padding: 20px 0;
    margin: auto;
    font-size: medium;    
    width: 700px;
    background-color: rgb(107, 106, 106);
}
div{
    background-color: 
    height: 300px;
    width: 400px;
}
h1{text-align: center;}
button{
    background-color: 
    height: 30px;
    width: 50px;
}
nav ol{
    list-style: none;
    display: flex;
}
nav ol li{
    color: aliceblue;
    text-transform: uppercase;
    font-size: medium;

}